@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap");

/* Root variables */
:root {
  /* fonts */
  --title: "Open Sans", sans-serif;
  --main-font: "Raleway", sans-serif;
  /* colours */
  --background: #2f5e8c;
  --blue: #9aafd5;
  --black: #000;
  --off-white: #f4f4f0;
  --blue-accent: #4c83d1;
  /* misc */
  --small-box-shadow: 1px -1px 7px 0 #4c4d4f;
  --border: 1px solid #252627;
}

/* General CSS layout */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

main {
  flex: 1 0 auto;
  background: rgb(37, 118, 221);
  background: radial-gradient(
    circle,
    rgba(37, 118, 221, 0.24975927871148462) 7%,
    rgba(109, 133, 168, 0.25536151960784315) 82%
  );
  padding: 1.5rem;
}

/* Footer */
footer {
  flex-shrink: 0;
  background-color: var(--off-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: var(--border);
}

.social-icons {
  height: 2rem;
  margin: 1rem;
}
/* Header */
.navbar {
  background-color: var(--off-white);
  box-shadow: var(--small-box-shadow);
}

a.nav-link {
  color: var(--black);
}

.active {
  border-bottom: 2px solid var(--blue-accent);
  font-weight: 500;
}

/* Sign In & Register Form */

.form {
  width: 100%;
  margin: 3%;
  box-shadow: var(--small-box-shadow);
  border-radius: 5px;
}

.form-icon {
  height: 2rem;
}
